.footer-wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height:15vh;
    width:100%;
    text-align: center;
    color:#FFF;
    background-color:#000;
}
.footer-text {
    margin:0;
    font-family: 'Kavivanar', cursive;
}
.footer-icon {
    margin:5px;
    text-decoration: none;
    color:#FFF;
}
.footer-icon:visited{
    text-decoration: none;
}
.footer-icon:focus {
    text-decoration: none;
}