.slider-container {
   display:flex;     
   flex-direction: row;
   width:80%;
   height:50%;
   margin:auto;
} 
.slider {
    width:80%;
    margin-left:5;
    margin-right:5px;
}
.mood-emotion {
    margin-top:21px;
}
.slider-wrapper{
    display:flex;
    flex-direction: column;
    min-width:40%;
    max-width: 40%;
    align-items: center;
    align-content: center;
    justify-content: center;

}
